**/node-v*-*-x*/
**/.gradle
**/package-lock.json
.vscode
react-redux-typescript-boilerplate/
backup/
**/node_modules
example*/
cross*/
**/dist
**/temp
**/06 SimpleApp_Navigation/
**/temp2/
**/www
**/node-oauth2-server-implementation/
**/restify-oauth2/
